[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
googletrans = "*"
requests = "*"
asyncio = "*"
toml = "*"
python-dateutil = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
isort = "*"
python-lsp-server = {extras = ["all"], version = "*"}
wemake-python-styleguide = "*"

[requires]
python_version = "3.10"
