[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
wemake-python-styleguide = "*"
isort = "*"

[packages]
discord = "*"
python-dotenv = "*"
googletrans = "*"
requests = "*"

[requires]
python_version = "3.7"
